.swiper {
    position: relative;
    padding: 0 8px;
  }
  
  .slider-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 10;
    top: 50%;
    transform: translateY(-90%);
    cursor: pointer;
  }
  
  .left-btn {
    z-index: 10;
    left: -5px;
  }
  .right-btn {
    right: 10px;
  }