.btn{
    /* background-color: var(-color-black); */
    background-color: #121212;
    /* color: var(-color-primary); */
    color: #34C94B;
    border-radius: 12px;
    padding: 10px 16px;
    cursor: pointer;
}