.HeroContainer {
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #fff;
    /* background-color: bisque; */
  }
  .HeroText {
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }